h1, p {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3vw;
  text-shadow: 3px 3px color(display-p3 0.2 0.2 0.2);
}

body {
	font-family: 'roboto', sans-serif;
	background-image: url("../images/veggie-harvest.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  color: white;
}

.navigation {
  	font-size: 4vh;
	text-align: center;
	padding: 10px 0px 0px 0px;;
	border: none;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navigation a {
  color: white;
	display: block;
  margin-bottom: 0px;
	text-decoration: none; 
}
		
		
a {
  color: white;
	display: block;
	text-decoration: none;
}

a:hover {
	color: orange;
/* 	color: color(display-p3 0.926 0.56 0.252); */
}
	

#show-fact {
  background-color: #000000;
	width: 25%;
	cursor: pointer;
  border-radius: 5px;
  font-size: 1vh;
  color: white;
  font-weight: bold;
/*   border-block-color: black; */
}

.container{
    width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fact-container {
/*   padding: 50px 40px 40px 40px; */
  padding: 5vw;
  border-radius: 7px;
  background-color: green;
  text-align: center;
  opacity: 0.8;
  width: 50%;
/*   top: 25%;
  left: 22%;
  position: absolute; */
}

#plant-fact {
  font-size: 3vh;
}

