@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	font-family: 'roboto', sans-serif;
	background-image: url("../images/gardening-planting.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 80px 200px 300px 200px;
  text-shadow: 3px 3px color(display-p3 0.2 0.2 0.2);
min-height: 100vh;
   background-position: center right;
   background-attachment: fixed;
}

h2 {
  font-size: 5.5vh;
}

.enter-head {
	text-shadow: 3px 3px color(display-p3 0.2 0.2 0.2);
  font-size: 3vh;
	}
	
.submit-button {
	background-color: rgb(163, 216, 98);
  height: 5.5vh; 
	width: 10vw;
/* 	padding: 10px 10px; */
	margin: 10px 10px;
	cursor: pointer;
  border-radius: 5px;
  font-size: 1.5vh;
		
	}
	
	
.navigation {
/* 	font-size: 3vh;
	text-align: center;
	padding: 10px 0px 0px 0px;;
	border: none;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; */
  	font-size: 4vh;
	text-align: center;
	padding: 10px 0px 0px 0px;;
	border: none;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
		
.navigation a {
	color: white;
	display: block;
  margin-bottom: 0px;
	text-decoration: none;
}
		
		
a {
  color: white;
	display: block;
	text-decoration: none;
}

a:hover {
  color: orange;
/* 	color: color(display-p3 0.926 0.56 0.252); */
}
		
li {
	width: 20%;
	float: left;
	padding: 10px;
	list-style: none;
	text-align: center;
  display:block;
}

.location-page {
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
}

#results {
  display: flex;
  align-items: center;
  justify-content: center;
/*   position: absolute; */
/*   left: 0; */
  
}

#results img {
  border-radius: 10%;
   
/*   width: 300px;  */
  justify-content: space-evenly;
  padding: 7px 7px 7px 7px;
  width: 90%;
  max-width: 500px;
  height: auto;
  

}


#name {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

label {
  font-size: 2vh;
}

select {
width: 10%;
height: 4.5vh;
  width: 10vw;
font-size: 1.5vh;
background-color: greenyellow;
}

 
 .image{
  width: 100%;
  max-width: 600px;
  height: auto;
}  