@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	font-family: 'roboto', sans-serif;
	background-image: url("../images/vegetables.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 80px 200px 300px 200px;
  text-shadow: 3px 3px color(display-p3 0.2 0.2 0.2);
  min-height: 80vh; 
/*   box-sizing: border-box;
   min-width: 480px;
   padding: 20px;
   width: 100%; */
}

.info {
  background-color: green;
}

h2 {
  font-size: 50px;
}

.enter-head {
	text-shadow: 3px 3px color(display-p3 0.2 0.2 0.2);
	}
	
.navigation {
	font-size: 4vh;
	text-align: center;
	padding: 10px 0px 0px 0px;;
	border: none;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
		
.navigation a {
	color: white;
	display: block;
  margin-bottom: 0px;
	text-decoration: none;
}
	
a {
	  color: white;
		display: block;
		text-decoration: none;
}
	
a:hover {
		color: orange;
/* 	color: color(display-p3 0.926 0.56 0.252); */
}

button {
  background-color: white;
	min-block-size: 25%;
	padding: 5px 5px;
	margin: 5px 5px;
	cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
}
		

.search-page {
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  margin: auto;
  padding: 40px;
  
}

.info {
  font-size: 20px;
}


#search {
	padding: 20px;
	background-color: green;
	color: white;
  margin: auto;
  min-width: min-content;
  
}


#search label{
	font-size: 24px;
	font-weight: bold;
	margin: 0, auto;
}

#result {
	display: block;
	padding: 10px;
	
}

#searchInput {
  min-block-size: 10%;
	padding: 5px 5px; 
	margin: 5px 5px;
  font-size: 12px;
  border-radius: 5px;
}

#search {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

#container{
  display: flex;
  
}
#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}